<#@ template hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>

namespace Redpoint.CloudFramework.Tests
{
using Google.Cloud.Datastore.V1;
using NodaTime;
using Redpoint.CloudFramework.Models;
using Redpoint.CloudFramework.Tests.Models;

<#

var variants = new string[]
{
    "TestLoadedEntityMatchesCreatedEntity",
    "TestLoadedEntityIsInCache",
    "TestMultipleEntityLoadWorks",
    "TestMultipleEntityLoadWorksWithoutCacheClear",
    "TestUpdatedEntityIsNotInCache",
    "TestUpsertedEntityIsNotInCache",
    "TestDeletedEntityIsNotInCache",
    "TestCreateThenQuery",
    "TestCreateThenQueryThenUpdateThenQuery",
    "TestReaderCountIsSetWhileReading",
    "TestTransactionalUpdateInvalidatesQuery",
    "TestCreateInvalidatesQuery",
    "TestUpdateWithNoOriginalDataDoesNotCrash",
    "TestUpdateInvalidatesRelevantQuery",
    "TestUpdateDoesNotInvalidateIrrelevantQuery",
    "TestTransactionalUpdateDoesNotInvalidateCacheUntilCommit",
    "TestTransactionalUpdateFromNull",
    "TestNonTransactionalUpdateFromNull",
    "TestQueryOrdering",
    "TestQueryEverything",
    "TestDeletedEntityIsNotInCachedQueryEverything",
};

foreach (var variant in variants)
{

#>

[Kind("cf_<#= variant #>")]
public sealed class <#= variant #>_Model : Model<<#= variant #>_Model>
{
    [Type(FieldType.String), Indexed]
    public string? forTest { get; set; }

    [Type(FieldType.String), Indexed]
    public string? string1 { get; set; }

    [Type(FieldType.Integer), Indexed]
    public long? number1 { get; set; }

    [Type(FieldType.Integer), Indexed]
    public long? number2 { get; set; }

    [Type(FieldType.Timestamp), Indexed]
    public Instant? timestamp { get; set; }

    [Type(FieldType.Key)]
    public UntypedKey? keyValue { get; set; }

    public TestModel? untracked { get; set; }
    
#pragma warning disable CS0628 // New protected member declared in sealed type
    [Type(FieldType.String), Indexed]
    protected string? protectedString1 { get; set; }
#pragma warning restore CS0628 // New protected member declared in sealed type

    [Type(FieldType.String), Indexed]
    private string? privateString1 { get; set; }

    [Type(FieldType.String), Indexed]
    internal string? internalString1 { get; set; }
}

<#

}

#>

}