stages:
  - Timestamp
  - Prebuild
  - Build Pass 1
  - Build Libraries
  - Build Pass 2
  - Publish
  - End

"Timestamp":
  stage: Timestamp
  tags:
    - redpoint-games-windows
  interruptible: true
  script: |
    $Timestamp = ([DateTime]::UtcNow)
    $PackageVersion = "$($Timestamp.Year).$($Timestamp.DayOfYear + 1000).$(($Timestamp.Hour * 60) + $Timestamp.Minute)"
    Set-Content -NoNewline -Path "package.version" -Value "$PackageVersion"
  artifacts:
    paths:
      - package.version

"Build Win OpenGE Shim":
  stage: Prebuild
  tags:
    - redpoint-games-windows
  needs:
    - Timestamp
  interruptible: true
  script: |
    $PackageVersion = (Get-Content -Raw -Path "package.version").Trim()
    dotnet msbuild -restore -t:Publish -p:RuntimeIdentifier=win-x64 -p:Configuration=Release -p:BaseUetVersion=$PackageVersion -p:PackageVersion=$PackageVersion "-p:OutDir=$((Get-Location).Path)\UET\Redpoint.OpenGE.ProcessExecution\shim-bin\Release\net7.0\win-x64" "-p:PublishDir=$((Get-Location).Path)\UET\Redpoint.OpenGE.ProcessExecution\shim-bin\Release\net7.0\win-x64\publish" UET/Redpoint.OpenGE.Shim/Redpoint.OpenGE.Shim.csproj
    if ($LastExitCode -ne 0) {
      Write-Host "Publish win-x64 (Redpoint.OpenGE.Shim.csproj) failed with exit code $LastExitCode"
      exit $LastExitCode 
    }
  artifacts:
    paths:
      - "UET/Redpoint.OpenGE.ProcessExecution/shim-bin/Release/net7.0/win-x64/publish"

"Build Mac OpenGE Shim":
  stage: Prebuild
  tags:
    - redpoint-games-mac
  needs:
    - Timestamp
  interruptible: true
  script: |
    PACKAGE_VERSION=$(cat package.version | tr -d '\n')
    echo "Package version: $PACKAGE_VERSION"
    dotnet msbuild -restore -t:Publish -p:RuntimeIdentifier=osx.11.0-arm64 -p:Configuration=Release -p:BaseUetVersion=$PACKAGE_VERSION -p:PackageVersion=$PACKAGE_VERSION "-p:OutDir=$(pwd)/UET/Redpoint.OpenGE.ProcessExecution/shim-bin/Release/net7.0/osx.11.0-arm64" "-p:PublishDir=$(pwd)/UET/Redpoint.OpenGE.ProcessExecution/shim-bin/Release/net7.0/osx.11.0-arm64/publish" UET/Redpoint.OpenGE.Shim/Redpoint.OpenGE.Shim.csproj
  artifacts:
    paths:
      - "UET/Redpoint.OpenGE.ProcessExecution/shim-bin/Release/net7.0/osx.11.0-arm64/publish"

"Build Linux OpenGE Shim":
  stage: Prebuild
  tags:
    - redpoint-games-windows
  needs:
    - Timestamp
  interruptible: true
  script: |
    $PackageVersion = (Get-Content -Raw -Path "package.version").Trim()
    dotnet msbuild -restore -t:Publish -p:RuntimeIdentifier=linux-x64 -p:Configuration=Release -p:BaseUetVersion=$PackageVersion -p:PackageVersion=$PackageVersion "-p:OutDir=$((Get-Location).Path)\UET\Redpoint.OpenGE.ProcessExecution\shim-bin\Release\net7.0\linux-x64" "-p:PublishDir=$((Get-Location).Path)\UET\Redpoint.OpenGE.ProcessExecution\shim-bin\Release\net7.0\linux-x64\publish" UET/Redpoint.OpenGE.Shim/Redpoint.OpenGE.Shim.csproj
    if ($LastExitCode -ne 0) {
      Write-Host "Publish linux-x64 (Redpoint.OpenGE.Shim.csproj) failed with exit code $LastExitCode"
      exit $LastExitCode 
    }
  artifacts:
    paths:
      - "UET/Redpoint.OpenGE.ProcessExecution/shim-bin/Release/net7.0/linux-x64/publish"

"Build Mac Logging":
  stage: Prebuild
  tags:
    - redpoint-games-mac
  needs:
    - Timestamp
  interruptible: true
  script: |
    PACKAGE_VERSION=$(cat package.version | tr -d '\n')
    echo "Package version: $PACKAGE_VERSION"
    dotnet msbuild -t:BuildNativeMacLibraries -p:Configuration=Release -p:BaseUetVersion=$PACKAGE_VERSION -p:PackageVersion=$PACKAGE_VERSION UET/Redpoint.Logging.Mac/Redpoint.Logging.Mac.csproj
    dotnet msbuild -t:BuildAndReferenceNupkg -p:Configuration=Release -p:BaseUetVersion=$PACKAGE_VERSION -p:PackageVersion=$PACKAGE_VERSION UET/Redpoint.Logging.Mac/Redpoint.Logging.Mac.csproj
  artifacts:
    paths:
      - "UET/Redpoint.Logging.Mac.Native/runtimes/osx.11.0-arm64/libLogging.arm64.dylib"
      - "UET/Redpoint.Logging.Mac.Native/runtimes/osx-x64/libLogging.x64.dylib"
      - "UET/Redpoint.Logging.Mac/bin/Redpoint.Logging.Mac.Native.*.nupkg"

"Build Win Pass 1":
  stage: Build Pass 1
  tags:
    - redpoint-games-windows
  needs:
    - Timestamp
    - "Build Win OpenGE Shim"
    - "Build Mac OpenGE Shim"
    - "Build Linux OpenGE Shim"
    - "Build Mac Logging"
  interruptible: true
  script: |
    $PackageVersion = (Get-Content -Raw -Path "package.version").Trim()
    dotnet msbuild -restore -t:Publish -p:RuntimeIdentifier=win-x64 -p:Configuration=Release -p:BaseUetVersion=$PackageVersion -p:PackageVersion=$PackageVersion -p:OpenGEShimIsAlreadyBuilt=true UET/uet/uet.csproj
    if ($LastExitCode -ne 0) {
      Write-Host "Publish win-x64 (uet.csproj) failed with exit code $LastExitCode"
      exit $LastExitCode 
    }
  artifacts:
    paths:
      - "UET/uet/bin/Release/net7.0/win-x64/publish/uet.exe"

"Build Mac Pass 1":
  stage: Build Pass 1
  tags:
    - redpoint-games-mac
  needs:
    - Timestamp
    - "Build Win OpenGE Shim"
    - "Build Mac OpenGE Shim"
    - "Build Linux OpenGE Shim"
    - "Build Mac Logging"
  interruptible: true
  script: |
    PACKAGE_VERSION=$(cat package.version | tr -d '\n')
    echo "Package version: $PACKAGE_VERSION"
    dotnet msbuild -restore -t:Publish -p:RuntimeIdentifier=osx.11.0-arm64 -p:Configuration=Release -p:BaseUetVersion=$PACKAGE_VERSION -p:PackageVersion=$PACKAGE_VERSION -p:OpenGEShimIsAlreadyBuilt=true UET/uet/uet.csproj
    # Ensure the thing we built will actually run...
    ./UET/uet/bin/Release/net7.0/osx.11.0-arm64/publish/uet --help
  artifacts:
    paths:
      - "UET/uet/bin/Release/net7.0/osx.11.0-arm64/publish/uet"

"Build Win UEFS Client":
  stage: Build Pass 1
  tags:
    - redpoint-games-windows
  needs:
    - Timestamp
    - "Build Mac Logging"
  interruptible: true
  script: |
    $PackageVersion = (Get-Content -Raw -Path "package.version").Trim()
    dotnet msbuild -restore -t:Publish -p:RuntimeIdentifier=win-x64 -p:Configuration=Release -p:BaseUetVersion=$PackageVersion -p:PackageVersion=$PackageVersion -p:OpenGEShimIsAlreadyBuilt=true UET/Redpoint.Uefs.Client/Redpoint.Uefs.Client.csproj
    if ($LastExitCode -ne 0) {
      Write-Host "Publish win-x64 (Redpoint.Uefs.Client.csproj) failed with exit code $LastExitCode"
      exit $LastExitCode 
    }
  artifacts:
    paths:
      - "UET/Redpoint.Uefs.Client/bin/Release/net7.0/win-x64/publish/uefs.exe"

"Build Mac UEFS Client":
  stage: Build Pass 1
  tags:
    - redpoint-games-mac
  needs:
    - Timestamp
    - "Build Mac Logging"
  interruptible: true
  script: |
    PACKAGE_VERSION=$(cat package.version | tr -d '\n')
    echo "Package version: $PACKAGE_VERSION"
    dotnet msbuild -restore -t:Publish -p:RuntimeIdentifier=osx.11.0-arm64 -p:Configuration=Release -p:BaseUetVersion=$PACKAGE_VERSION -p:PackageVersion=$PACKAGE_VERSION -p:OpenGEShimIsAlreadyBuilt=true UET/Redpoint.Uefs.Client/Redpoint.Uefs.Client.csproj
    # Ensure the thing we built will actually run...
    ./UET/Redpoint.Uefs.Client/bin/Release/net7.0/osx.11.0-arm64/publish/uefs --help
  artifacts:
    paths:
      - "UET/Redpoint.Uefs.Client/bin/Release/net7.0/osx.11.0-arm64/publish/uefs"

"Build Win UEFS Daemon":
  stage: Build Pass 1
  tags:
    - redpoint-games-windows
  needs:
    - Timestamp
    - "Build Mac Logging"
  interruptible: true
  script: |
    $PackageVersion = (Get-Content -Raw -Path "package.version").Trim()
    dotnet msbuild -restore -t:Publish -p:RuntimeIdentifier=win-x64 -p:Configuration=Release -p:BaseUetVersion=$PackageVersion -p:PackageVersion=$PackageVersion -p:OpenGEShimIsAlreadyBuilt=true UET/Redpoint.Uefs.Daemon/Redpoint.Uefs.Daemon.csproj
    if ($LastExitCode -ne 0) {
      Write-Host "Publish win-x64 (Redpoint.Uefs.Daemon.csproj) failed with exit code $LastExitCode"
      exit $LastExitCode 
    }
  artifacts:
    paths:
      - "UET/Redpoint.Uefs.Daemon/bin/Release/net7.0/win-x64/publish/uefs-daemon.exe"

"Build Mac UEFS Daemon":
  stage: Build Pass 1
  tags:
    - redpoint-games-mac
  needs:
    - Timestamp
    - "Build Mac Logging"
  interruptible: true
  script: |
    PACKAGE_VERSION=$(cat package.version | tr -d '\n')
    echo "Package version: $PACKAGE_VERSION"
    dotnet msbuild -restore -t:Publish -p:RuntimeIdentifier=osx.11.0-arm64 -p:Configuration=Release -p:BaseUetVersion=$PACKAGE_VERSION -p:PackageVersion=$PACKAGE_VERSION -p:OpenGEShimIsAlreadyBuilt=true UET/Redpoint.Uefs.Daemon/Redpoint.Uefs.Daemon.csproj
  artifacts:
    paths:
      - "UET/Redpoint.Uefs.Daemon/bin/Release/net7.0/osx.11.0-arm64/publish/uefs-daemon"

"Build Win Shim":
  stage: Build Pass 1
  tags:
    - redpoint-games-windows
  needs:
    - Timestamp
  interruptible: true
  script: |
    $PackageVersion = (Get-Content -Raw -Path "package.version").Trim()
    dotnet msbuild -restore -t:Publish -p:RuntimeIdentifier=win-x64 -p:Configuration=Release -p:BaseUetVersion=$PackageVersion -p:PackageVersion=$PackageVersion -p:OpenGEShimIsAlreadyBuilt=true UET/uet.shim/uet.shim.csproj
    if ($LastExitCode -ne 0) {
      Write-Host "Publish win-x64 (uet.csproj) failed with exit code $LastExitCode"
      exit $LastExitCode 
    }
  artifacts:
    paths:
      - "UET/uet.shim/bin/Release/net7.0/win-x64/publish/uet.exe"

"Build Mac Shim":
  stage: Build Pass 1
  tags:
    - redpoint-games-mac
  needs:
    - Timestamp
  interruptible: true
  script: |
    PACKAGE_VERSION=$(cat package.version | tr -d '\n')
    echo "Package version: $PACKAGE_VERSION"
    dotnet msbuild -restore -t:Publish -p:RuntimeIdentifier=osx.11.0-arm64 -p:Configuration=Release -p:BaseUetVersion=$PACKAGE_VERSION -p:PackageVersion=$PACKAGE_VERSION -p:OpenGEShimIsAlreadyBuilt=true UET/uet.shim/uet.shim.csproj
  artifacts:
    paths:
      - "UET/uet.shim/bin/Release/net7.0/osx.11.0-arm64/publish/uet"

"Build and Test Libraries on Windows":
  stage: Build Libraries
  tags:
    - redpoint-games-windows
  needs:
    - Timestamp
    - "Build Win OpenGE Shim"
    - "Build Mac OpenGE Shim"
    - "Build Linux OpenGE Shim"
    - "Build Mac Logging"
  interruptible: true
  script: |
    $PackageVersion = (Get-Content -Raw -Path "package.version").Trim()
    dotnet build -c Release /p:PackageVersion=$PackageVersion /p:OpenGEShimIsAlreadyBuilt=true UET/UET.sln
    if ($LastExitCode -ne 0) {
      Write-Host "dotnet build (UET.sln) failed with exit code $LastExitCode"
      exit $LastExitCode 
    }
    dotnet test --no-build --logger:"console" --logger:"junit;LogFilePath=$((Get-Location).Path)\TestResults\{assembly}.test-result.xml" -c Release /p:PackageVersion=$PackageVersion UET/UET.sln
    if ($LastExitCode -ne 0) {
      Write-Host "dotnet test (UET.sln) failed with exit code $LastExitCode"
      exit $LastExitCode 
    }
  artifacts:
    reports:
      junit: TestResults/*.test-result.xml
    paths:
      - "**/*.nupkg"

"Build and Test Libraries on macOS":
  stage: Build Libraries
  tags:
    - redpoint-games-mac
  needs:
    - Timestamp
    - "Build Win OpenGE Shim"
    - "Build Mac OpenGE Shim"
    - "Build Linux OpenGE Shim"
    - "Build Mac Logging"
  interruptible: true
  script: |
    PACKAGE_VERSION=$(cat package.version | tr -d '\n')
    echo "Package version: $PACKAGE_VERSION"
    dotnet build -c Release /p:PackageVersion=$PACKAGE_VERSION /p:OpenGEShimIsAlreadyBuilt=true UET/UET.sln
    dotnet test --no-build --logger:"console" --logger:"junit;LogFilePath=$(pwd)/TestResults/{assembly}.test-result.xml" -c Release /p:PackageVersion=$PackageVersion UET/UET.sln
  artifacts:
    reports:
      junit: TestResults/*.test-result.xml

"Build Win Pass 2":
  stage: Build Pass 2
  tags:
    - redpoint-games-windows
  needs:
    - Timestamp
    - "Build Win OpenGE Shim"
    - "Build Mac OpenGE Shim"
    - "Build Linux OpenGE Shim"
    - "Build Mac Logging"
    - "Build Win Pass 1"
    - "Build Mac Pass 1"
    - job: "Build and Test Libraries on Windows"
      artifacts: false
  interruptible: true
  script: |
    $PackageVersion = (Get-Content -Raw -Path "package.version").Trim()
    dotnet msbuild -restore -t:Publish -p:RuntimeIdentifier=win-x64 -p:Configuration=Release -p:EmbeddingCrossPlatform=true -p:BaseUetVersion=$PackageVersion -p:PackageVersion=$PackageVersion -p:OpenGEShimIsAlreadyBuilt=true UET/uet/uet.csproj
    if ($LastExitCode -ne 0) {
      Write-Host "Publish win-x64 (uet.csproj) failed with exit code $LastExitCode"
      exit $LastExitCode 
    }
  artifacts:
    paths:
      - "UET/uet/bin/Release/net7.0/win-x64/publish/uet.exe"

"Build Mac Pass 2":
  stage: Build Pass 2
  tags:
    - redpoint-games-mac
  needs:
    - Timestamp
    - "Build Win OpenGE Shim"
    - "Build Mac OpenGE Shim"
    - "Build Linux OpenGE Shim"
    - "Build Mac Logging"
    - "Build Win Pass 1"
    - "Build Mac Pass 1"
    - job: "Build and Test Libraries on macOS"
      artifacts: false
  interruptible: true
  script: |
    PACKAGE_VERSION=$(cat package.version | tr -d '\n')
    echo "Package version: $PACKAGE_VERSION"
    dotnet msbuild -restore -t:Publish -p:RuntimeIdentifier=osx.11.0-arm64 -p:Configuration=Release -p:EmbeddingCrossPlatform=true -p:BaseUetVersion=$PACKAGE_VERSION -p:PackageVersion=$PACKAGE_VERSION -p:OpenGEShimIsAlreadyBuilt=true UET/uet/uet.csproj
    # Ensure the thing we built will actually run...
    ./UET/uet/bin/Release/net7.0/osx.11.0-arm64/publish/uet --help
  artifacts:
    paths:
      - "UET/uet/bin/Release/net7.0/osx.11.0-arm64/publish/uet"

"Test OpenGE Win":
  stage: Build Pass 2
  tags:
    - redpoint-games-windows
  needs:
    - "Build Win Pass 2"
  interruptible: true
  script: |
    .\UET\uet\bin\Release\net7.0\win-x64\publish\uet.exe internal openge --task-file UET\Redpoint.OpenGE.Shim.Tests\Windows.xml
    if ($LastExitCode -ne 0) {
      Write-Host "OpenGE test failed with exit code $LastExitCode"
      exit $LastExitCode 
    }

"Test OpenGE Mac":
  stage: Build Pass 2
  tags:
    - redpoint-games-mac
  needs:
    - "Build Mac Pass 2"
  interruptible: true
  script: |
    ./UET/uet/bin/Release/net7.0/osx.11.0-arm64/publish/uet internal openge --task-file UET/Redpoint.OpenGE.Shim.Tests/Mac.xml

"Publish to NuGet":
  stage: Publish
  tags:
    - redpoint-games-windows
  needs:
    - Timestamp
    - "Build and Test Libraries on Windows"
    - job: "Build and Test Libraries on macOS"
      artifacts: false
    - job: "Test OpenGE Win"
      artifacts: false
    - job: "Test OpenGE Mac"
      artifacts: false
  interruptible: true
  script: |
    $PackageVersion = (Get-Content -Raw -Path "package.version").Trim()
    dotnet nuget push --source https://api.nuget.org/v3/index.json --api-key $env:NUGET_API_KEY (Get-ChildItem -Recurse -Filter "*.$PackageVersion.nupkg" | % { $_.FullName })
    if ($LastExitCode -ne 0) {
      Write-Host "dotnet push failed with exit code $LastExitCode"
      exit $LastExitCode 
    }
  artifacts:
    paths:
      - "**/*.nupkg"
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
    - if: '$CI_PIPELINE_SOURCE == "web"'

"Publish to GitHub":
  stage: Publish
  tags:
    - redpoint-games-windows
  needs:
    - Timestamp
    - "Build Win Shim"
    - "Build Win Pass 2"
    - "Build Win UEFS Client"
    - "Build Win UEFS Daemon"
    - "Build Mac Shim"
    - "Build Mac Pass 2"
    - "Build Mac UEFS Client"
    - "Build Mac UEFS Daemon"
    - job: "Test OpenGE Win"
      artifacts: false
    - job: "Test OpenGE Mac"
      artifacts: false
  interruptible: false
  script: |
    $PackageVersion = (Get-Content -Raw -Path "package.version").Trim()
    UET/uet/bin/Release/net7.0/win-x64/publish/uet.exe internal create-github-release `
      --version $PackageVersion `
      --file "uet.exe=UET for Windows=UET/uet/bin/Release/net7.0/win-x64/publish/uet.exe" `
      --file "uefs.exe=UEFS Client for Windows=UET/Redpoint.Uefs.Client/bin/Release/net7.0/win-x64/publish/uefs.exe" `
      --file "uefs-daemon.exe=UEFS Daemon for Windows=UET/Redpoint.Uefs.Daemon/bin/Release/net7.0/win-x64/publish/uefs-daemon.exe" `
      --file "uet.shim.exe=UET Shim for Windows=UET/uet.shim/bin/Release/net7.0/win-x64/publish/uet.exe" `
      --file "uet=UET for macOS=UET/uet/bin/Release/net7.0/osx.11.0-arm64/publish/uet" `
      --file "uefs=UEFS Client for macOS=UET/Redpoint.Uefs.Client/bin/Release/net7.0/osx.11.0-arm64/publish/uefs" `
      --file "uefs-daemon=UEFS Daemon for macOS=UET/Redpoint.Uefs.Daemon/bin/Release/net7.0/osx.11.0-arm64/publish/uefs-daemon" `
      --file "uet.shim=UET Shim for macOS=UET/uet.shim/bin/Release/net7.0/osx.11.0-arm64/publish/uet" `
      --file "package.version=Version File=package.version"
    if ($LASTEXITCODE -ne 0) { exit $LASTEXITCODE }
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
    - if: '$CI_PIPELINE_SOURCE == "web"'

"Publish Container":
  stage: Publish
  needs:
    - Timestamp
    - "Build Win UEFS Client"
    - "Build Win UEFS Daemon"
  tags:
    - redpoint-games-linux
  script: |
    PACKAGE_VERSION=$(cat package.version | tr -d '\n')
    mkdir "$(pwd)/.docker" || true
    export DOCKER_CONFIG="$(pwd)/.docker"
    docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    docker buildx create --name img-builder --use --platform windows/amd64
    docker buildx build --platform windows/amd64 --output=type=registry -f UET/Lib/Uefs/Kubernetes/Dockerfile -t "registry.redpoint.games/redpointgames/uet/uefs:$PACKAGE_VERSION" .
    docker buildx build --platform windows/amd64 --output=type=registry -f UET/Lib/Uefs/Kubernetes/Dockerfile -t "registry.redpoint.games/redpointgames/uet/uefs:latest" .
  after_script:
    - rm -Rf "$(pwd)/.docker" || true
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
    - if: '$CI_PIPELINE_SOURCE == "web"'