[Unit]
Description=Display Manager
Requires=xorg.service
After=xorg.service

[Service]
Type=simple
ExecStartPre=/bin/timeout 1s /bin/xset q
ExecStart=/usr/bin/evilwm --bw 5
ExecStartPost=/bin/bash -c "grep rkm-in-recovery /proc/cmdline && feh --bg-scale /usr/share/background-x11-recovery.png --no-fehbg || feh --bg-scale /usr/share/background-x11.png --no-fehbg || true"
RestartSec=1s
Environment="DISPLAY=:0"