[Unit]
Description=RKM Rescue Shell

[Service]
Type=simple
ExecStart=/bin/bash
StandardInput=tty
StandardOutput=tty
RestartSec=1s
TimeoutStopSec=0
KillSignal=SIGKILL