# Don't use module loading.
CONFIG_MODULES=n

# Turn on Hyper-V support.
CONFIG_HYPERV=y
CONFIG_HYPERV_BALLOON=y
CONFIG_HYPERV_IOMMU=y
CONFIG_HYPERV_TIMER=y
CONFIG_HYPERV_KEYBOARD=y
CONFIG_HYPERV_NET=y
CONFIG_HYPERV_STORAGE=y
CONFIG_HYPERV_UTILS=y
CONFIG_HYPERVISOR_GUEST=y
CONFIG_KVM_HYPERV=y
CONFIG_SYS_HYPERVISOR=y
CONFIG_XEN_SYS_HYPERVISOR=y
CONFIG_DRM_HYPERV=y
CONFIG_FB_HYPERV=y
CONFIG_PCI_HYPERV=y
CONFIG_HID_HYPERV_MOUSE=y

# Disable KVM support.
CONFIG_KVM_GUEST=n

# Turn on TPM support.
CONFIG_TCG_TPM=y
CONFIG_PNP=y
CONFIG_ACPI=y
CONFIG_PNPACPI=y
CONFIG_HW_RANDOM_TPM=y
CONFIG_TCG_NSC=y
CONFIG_TCG_ATMEL=y
CONFIG_TCG_INFINEON=y
CONFIG_TCG_CRB=y
CONFIG_TCG_TIS=y
CONFIG_TCG_I2C=y

# Disable sound.
CONFIG_SOUND=n

# Enable NTFS filesystem support.
CONFIG_NTFS3_FS=y
CONFIG_NTFS3_LZX_XPRESS=y

# Enable CIFS/SMB mount.
CONFIG_CIFS=y

# Enable basic framebuffer support.
CONFIG_SYSFB_SIMPLEFB=y
CONFIG_DRM_SIMPLEDRM=y