// Imported global styling from EUI
@import '~@elastic/eui/src/themes/amsterdam/_colors_light';
@import '~@elastic/eui/src/global_styling/variables/_borders';
@import '~@elastic/eui/src/global_styling/variables/_size';
@import '~@elastic/eui/src/themes/amsterdam/global_styling/variables/_borders';
@import '~@elastic/eui/src/themes/amsterdam/global_styling/variables/_header';
@import '~@elastic/eui/src/global_styling/variables/_responsive';
@import '~@elastic/eui/src/global_styling/mixins/_responsive';
@import '~@elastic/eui/src/global_styling/mixins/_header';

// We use the fixed header from EUI so need this mixin
body {
  @include euiHeaderAffordForFixed($euiHeaderHeightCompensation * 1);
}